.aboutTT{
  @extend %outerSection;
  line-height: 1.8; padding: 0 0 8em;

  h2.pageHeader{text-align: center !important;}
  h3{ margin: 3em 0 .5em; line-height: 1.3; text-align: center;}
  .cores{
    ul, ol{
      display: flex;
      flex-flow: row wrap; justify-content: space-between;
      line-height: 1.5;
      list-style: none; margin: 0 -3px; padding: 0;
  
      li{
        position: relative; text-align: center;
        flex:0 0 calc(50% - 6px);
        margin: 3px; padding:.8em .5em;
        border: 1px solid $borderColorLight;
      }
    }
  }

  .beTTmemb{
    text-align: center;
  }


  @media screen and (min-width: $wwNormal){
    .cores{
      ul, ol{
        justify-content: center;
        li{ flex-basis:calc(33.33% - 6px); }
      }
    }

  }

}