// 表單送出按鈕群 //////////
.btnDv{
  display: flex; justify-content: center;
  clear:both; text-align:center;
  margin:0 auto;padding: 1.5em 0 5px;
  // border-top: 1px solid $borderColor;
  input[type="button"],input[type="submit"],input[type="reset"], button {
    flex:1 1 45%;
    margin: 4px; min-width: 6em; height: 3.5em;border-radius: 2em;
    // &:only-child{min-width: 100%;}

    &.type2{
      border: 1px solid $borderColor;
      background-color: $bodyBgc; color: $fontColorDark;
      &:hover {
        border-color: $borderColorDark;
        box-shadow: $borderColorDark 0 0 0 1px;
      }  
    }
  }
  .button{ 
    margin: 4px; flex:1 1 45%;
    &>a{ display: block; margin: 0; min-width: 6em; height: 3.5em;border-radius: 2em;}
    // &:only-child>a{width: 100%;}
  }
  input[type="button"], input[type="submit"], input[type="reset"], button,
  .button>a {
    &:only-child{min-width: 12em;}
  }


  @media screen and (min-width: $wwNormal){
    input[type="button"], input[type="submit"], input[type="reset"], button,
    .button>a {
      &:only-child{flex: 0 0 auto; width: auto;}
    }  
  }

}