// 表單送出按鈕群 //////////
.btnDv{
  display: flex; justify-content: center; align-items: center;
  clear:both; text-align:center;
  margin:0 auto;padding: 1em 0;
  input[type="button"],input[type="submit"],input[type="reset"], button {
    flex:0 1 48%; border-radius: 2em;margin-left: 5px; margin-right: 5px;
  }
  .button{ 
    flex:0 1 48%; margin-left: 5px; margin-right: 5px;
    &>a{ display: block; height: 3em;border-radius: 2em; text-decoration: none;}
  }
  input[type="button"], input[type="submit"], input[type="reset"], button,
  .button {
    &:only-child{min-width: 12em;}
  }

  @media screen and (min-width: $wwNormal){
    input[type="button"], input[type="submit"], input[type="reset"], button, .button {
      width: auto; flex-basis: auto; min-width: 15em;
      &:only-child{flex: 0 0 auto; width: auto;}
    }  
  }
}