// 矩陣式勾選項目（偏好議題、關注產業）
.checkGrid{
  position: relative;
  padding:8px 12px;

  ul.grid{
    position: relative;
    list-style: none; padding: 0;margin: 0; text-align: center;
    overflow: hidden;
    &>li{
      position: relative;
      float: left; width: 33.33%; margin: 15px 0; padding: 0;
      cursor: pointer;  
      &::after{
        display: none;
        content: ''; position: absolute; left: 50%; bottom: 50%;z-index: 9;
        width: 30px; height: 16px; margin: auto auto -12px -15px;
        border: 4px solid #fff; border-top: none; border-right: none;
        transform: rotate(-45deg);      
      }
      &::before{
        display: none;
        content: ''; position: absolute; left: 50%; bottom: 6px;
        background-color: #0006;border-radius: 50%;
        width: 24vw; height: 24vw; margin-left: -12vw;
        z-index: 8;
      }
      
      img{
        display: block; position: relative; margin: 6px auto;
        width: 24vw; height: 24vw; object-fit: cover; border-radius: 50%;
      }
  
      &.selected{
        img{box-shadow: #fff 0 0 0 2px, #000 0 0 0 6px;}
        &::before, &::after{display: block;}
      }
    }
  }


  // // 提示訊息
  // .warning{
  //   display: none;
  //   position: absolute; z-index: 99;
  //   padding:.3em .5em; border-radius: 6px;
  //   background-color: #d00; color: #fff; 
  //   line-height: 1.5; font-size: .9em;
  //   margin:1.2em 0 0;
  // }
}


// 水平左右移動
.shiftShow{
  position: relative;
  box-shadow: #ddf 0 0 0 2px inset; 
  width: 100%; overflow: hidden;
  .shiftList{
    // box-shadow: pink 0 0 0 2px inset;
    position: relative;
    display: flex; flex-flow: nowrap row;
    ul.grid{ width: 100%;}
  }
  // 點點
  .shiftIndicator{
    ol{margin:10px 0;padding: 0; list-style: none;
      display: flex; justify-content: center;
    }
    li{
      margin: 0 5px; padding: 4px; width: auto;
      cursor: pointer;
      &::before{
        content: ''; display: block;
        margin: 0; padding: 0; width: 12px; height: 12px; border-radius: 50%;
        background-color: $gray;
        transition: .2s;
      }
      &:hover{
        &::before{
          box-shadow: $gray 0 0 0 1px;
        }
      }
  
      &.now{
        &::before{
          box-shadow: $secondaryColor 0 0 0 3px;
          background-color: $secondaryColor;
        }
  
      }
    }
  }
}

