// % % % % % % % % % % % % //
%mainSection{
  padding: 2.5em 4vw; margin: 0 auto;
}
// % % % % % % % % % % % % //


html, body{height: 100%;}
body{
  padding: 0; margin: 0;
  *{box-sizing: border-box;}
  font-size: 1em;

  display: flex; flex-direction: column; // 把 footer 推到頁面和 viewport 最下方
}

.main { // 主內容區，.webHeader之後，.webFooter之前
  flex: 1 0 auto;
}
.webFooter {
  flex-shrink: 0;
}

a{ color: $linkColor;}

h1{}
h2{ font-size: 1.6em;}
h3{ font-size: 1.4em;}
h4{ font-size: 1.2em;}
h5{ font-size: 1.1em;}
h6{font-size: 1em;}


// // 頁頭
// .webHeader{
//   position: relative;
//   border-bottom: 1px solid $borderColorLight;
//   padding: 0 4vw;
//   display: flex; flex-flow: row nowrap;
//   justify-content: space-between;
//   align-items: center;
//   h1{ 
//     margin: 0; padding: 5px 0; height: 48px;
//     font-size: 1em;
//     overflow: hidden;
//     img{
//       float: left; height: 100%; margin: 0;
//       &+img{margin-left: 5px;}
//     }
//   }

//   @media screen and (min-width: $wwNormal){
//     h1{
//       height: 64px;
//       flex:1 0 50%

//     }
//     .topLinks{
//       width: auto;
//       flex:1 1 50%;
//     }
//   }
// }



// .topLinks{
//   list-style: none; margin:0; padding: 0; line-height: 1.1;
//   // position: absolute; right: 4vw; top: 7px;
//   font-size: .85em; font-weight: bold;
//   // white-space: nowrap;
//   li{
//     margin:3px 0; position: relative;
//     white-space: nowrap;
//     // outline: 1px solid red;
//     br{ display: none;}

//     &:last-child{margin-right: 0;}

//     &::before{
//       content: ''; position: absolute; left: 0; top: 0; bottom: 0;
//       width: 3px; height: 100%; background-color: $primaryColor;
      
//     }
//     a{
//       display: block; vertical-align: middle;
//       text-align: left;
//       text-decoration: none; color: $fontColor; 
//       padding:.1em 0 0 .8em; 
//       transition: .2s;
  
//       &:hover{border-color: $linkColor; color: $linkColor}
//     }
//   }


//   @media screen and (min-width: $wwNormal){
//     display: flex; flex-flow: row nowrap;
//     justify-content: flex-end; line-height: 1.2;
//     li{
//       margin: 0 1.8em 0 0; 
//       height: 2.4em;
//       br{display: block;}

//       &:last-child{margin-right: 0;}

//       &::before{
//         position: static;
//         content: ''; display: inline-block;vertical-align: middle;
//         width: 3px; height: 100%; background-color: $primaryColor;
//       }
//       a{
//         display: inline-block; vertical-align: middle;
//         text-align: left;
//         text-decoration: none; color: $fontColor; 
//         padding:.1em 0 0 .8em; 
//         transition: .2s;
    
//         &:hover{border-color: $linkColor; color: $linkColor}
//       }
//     }

//   }
// }


@keyframes webHeader {
  0%{
    background-position: 0 50%;
  }
  100%{
    background-position: 100% 50%;
  }
}


// 頁尾
.webFooter{
  @extend %mainSection; 
  padding-top: 1.5em; padding-bottom: 1.5em;
  line-height: 1.5; width: 100%;
  border-top: 1px solid $borderColorLight;
  // background-color: $footerBgc; color: $fontInvert;

  a{
    color: $linkColor; text-decoration: none;
    border-bottom: 1px solid $linkColor;
  }
  p{ margin:0 0 .5em;
    &:first-child{ margin-top:0;}
  }

  ul{list-style: none; margin:0; padding: 0; line-height: 1.3;}
  .links{ overflow: hidden; margin-top: 2em;
    li{
      display: inline-block;
      margin: 0; padding: 0;
      &+li{ margin-left: 1.5em;}
      a{display: block; 
        &:hover{border-bottom-width: 2px;}
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    display: flex;
    p{ margin: 0;
      &+p{margin-left: 2em;}
    }

    .links{
      margin: 0 0 0 2em;
      text-align: right;
      flex: 1 1 30%;
    }
  }
}

// .style2 .webFooter{
//   background-image: linear-gradient( #07abae ,#045f7b );
// }