// % % % % % % % % % % % % //
%mainSection{
  padding: 2.5em 4vw; margin: 0 auto;
}
%outerWidth{
  width: 94vw; margin-left: auto; margin-right: auto;
  @media screen and (min-width: $wwSlim){
    width: 92vw;
  }
  @media screen and (min-width: $wwNormal){
    max-width: $wwNormal;
  }
}
// % % % % % % % % % % % % //


html, body{height: 100%;}
body{
  padding: 0; margin: 0;
  *{box-sizing: border-box;}
  font-size: 1em;

  display: flex; flex-direction: column; // 把 footer 推到頁面和 viewport 最下方

  &.noScroll{
    overflow: hidden; overflow-y:hidden;
  }

}
a{ color: $linkColor;}

h2{ font-size: 1.6em;}
h3{ font-size: 1.4em;}
h4{ font-size: 1.2em;}
h5{ font-size: 1.1em;}
h6{font-size: 1em;}

.main { // 主內容區，.webHeader之後，.webFooter之前
  flex: 1 0 auto;
}

// 頁尾
.webFooter{
  flex-shrink: 0;
  padding: 1.5em 3vw;
  line-height: 1.5; width: 100%;
  border-top: 1px solid $borderColorLight;
  text-align: center;
  // background-color: $footerBgc; color: $fontInvert;

  a{
    color: $linkColor; text-decoration: none;
    border-bottom: 1px solid $linkColor;
  }
  p{display: inline-block; margin: .3em 0;}


  ul{list-style: none; margin:0; padding: 0; line-height: 1.3;}
  .links{ overflow: hidden; margin-top: 1.5em;
    li{
      display: inline-block;
      margin: 0; padding: 0;
      &+li{ margin-left: 1.5em;}
      a{display: block; 
        &:hover{border-bottom-width: 2px;}
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    display: flex;
    p{ margin: 0;
      &+p{margin-left: 2em;}
    }

    .links{
      margin: 0 0 0 2em;
      text-align: right;
      flex: 1 1 30%;
    }
  }
}

.loginLayout .webFooter{ border: none; margin-top: 60px;}
@media screen and (min-width: $wwNormal){
  .loginLayout + .webFooter {
    display: none;
  }
}












