// 常見問題
.faq{
  @extend %mainSection;
  padding-top: 3em; padding-bottom: 3em;
  background: $grayLight;
  ul{list-style: none; margin: 0 0 0 -5px; padding: 0; line-height: 1.5;}
  li{
    margin: 0 0 10px;
    a{ display: block; text-decoration: none;
       border-radius: 2em 12px 12px 2em;
      padding: 4px .5em 4px 4px;
      transition: .2s;
      background: #fff; color: $fontColor;
      &:hover{
        box-shadow:#fff 0 0 0 1px, $grayDark 0 0 0 3px;
      }
    }
    .qNumber{
      display: inline-block;text-align: center;
      min-width: 2.6em; height: 2.6em; line-height: 2.65; margin: 0 5px 0 0;
      border-radius: 1.5em;
      background: $grayDark; color: $fontInvert;
      box-shadow: #0009 1px 2px 3px inset;
    }
  }
}
