.qaList{
  @extend %outerSection;
 position: relative;
  button.ctrlBtn{
    height: 2.4em; line-height: 2.4; border-radius: 2em;
    position: absolute; right: 0; top: -3.1em;
  }
  ul{list-style: none; margin: 0;padding: 0;}
  li{ line-height: 1.7;
    margin: 5px 0 9px; padding: 0 0 5px; transition: .15s;
    box-shadow: $borderColor 0 0 0 1px; border-radius: 12px;
    &:hover{
      box-shadow: $borderColorDark 0 0 0 2px;
      .q::after{border-color: $fontColorDark;}
    }
    .q{ 
      position: relative;
      padding: 15px 15px 10px;
      cursor: pointer; font-size: 1.2em;color: $fontColorDark;
      &::after{
        position: absolute; right: 20px; top: 21px;
        content: ''; width: 10px;height: 10px;
        border: 2px solid $borderColor; border-left: none; border-top: none;
        transform: rotate(45deg); transition: .25s;
      }
    }
    .a{display: none;
      padding:13px 15px 10px;
      border-top: 1px solid $borderColorLight; 
    }

    &.show{
      .q{
        &::after{
          transform: rotate(-135deg);top: 25px;
        }
      }
    }

  }
}