.lightbox {
  display: none; 
  z-index: 9100;
  position: fixed; left: 3vw; right: 3vw; top: 50%;
  transform: translateY(-55%);
  max-height: 94vh; overflow: auto;
  max-width: 94vw;
  padding-top: 40px;
  box-shadow: rgba(0, 0, 0, .6) 0 0 36px;
  background-color: #fff;
  border-radius: 12px;
  &>.closeThis {
    height: 2px; overflow: visible;
    display: block; z-index: 99;
    transform: translateY(-40px);
    position: -webkit-sticky; 
    position: sticky; top: 0;
    margin: 0 -4vw; padding: 4px;
    a{ 
      float: right;
    }
  }
}

.cover {
  display: none; z-index: 9000;
  position: fixed; left: 0;right: 0;top: 0;bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}


.lightbox {

  &.message{
    padding:40px 4vw 20px;
    text-align: center;

    h2{color: $fontColorDark; line-height: 1.3; margin: 0 auto .5em; text-align: left;}
    p{line-height: 1.8; text-align: left;}

    .btnDv{
      border-top: 1px solid $borderColor;
      justify-content: flex-end;
      button{
        flex:0 0 auto; min-width: 5em;
      }
    }


    @media screen and (min-width: $wwMedium){
      max-width: 600px;
      left:calc(50vw - 300px) ;
  
    }
  
  }

  .msgBlock{
    border: none; margin-top: 0;margin-bottom: 0;
    width: auto; text-align: left;
  }
}