// 會員登入
.loginHere{
  @extend %mainSection; font-size: 1.15em;

  .blockHeader{margin-bottom: 0;}

  .btnDv{
    margin: 1.5em 0 0; border: none;
  }

  .links{
    display: flex; justify-content: space-between;
    margin: 1.5em auto .5em;
  }
}

.formRow{
  position: relative; padding: .6em 0; margin: 3px 0;
  label{
    margin: 0; padding: 0 .7em;
    position: absolute; top:1.65em; left: 4px;
    height: 1.6em; line-height: 1.6; border-radius: 1em;
    transition: .3s;
    &.shift{ 
      top: 0; transform: scale(.85);
      background: $borderColorDark; color: $fontInvert;
      &.error{ background-color: $msgError;}
    }
  }

  input[type="text"], input[type="password"], input[type="email"]{
    width: 100%; height: 3.2em;
    margin: 5px 0;
    border-radius: 12px; padding: 0 1em;
  }

  &.pw{
    position: relative;
    input{ padding-right: 54px;}
    .viewIcon{ position: absolute; right: 6px; top: 1.1em; }
  }

  .singleCheck{font-size: 1rem;}
}