// 會員登入
.loginHere{
  font-size: 1.15em; padding: 5px 0 60px;
  width: 84%; margin: 0 auto; max-width: 420px;
  // outline: 1px solid red;
  h1.logos{
    text-align: center; margin:50px 0 10px;
    img{display: inline-block; width: auto; height: 80px;}
  }

  h2{margin:0 auto; text-align: center; color: $fontColorDark;}

  .btnDv{ margin:0 auto; border: none; }

  .keepAndForget{
    display: flex; justify-content: space-between;
    margin: 1em 0 0;
    .singleCheck{ height: 2.8;line-height: 2.7;}
  }
  .singleCheck{font-size: 1rem;}


  .links{
    text-align: center;
    margin: 1.5em auto .5em;
  }

  .btnDv{
    button, input[type="button"]{ height: 3.2em;
      &:only-child{width: 100%;}
    }
  }

  .formRow{
    position: relative; padding: .6em 0 .3em; margin: 3px 0;
    label{
      margin: 0; padding: 0 .7em;
      position: absolute; top:1.65em; left: 4px;
      height: 1.6em; line-height: 1.6; border-radius: 1em;
      transition: .3s;
      &.shift{ 
        top: 0; transform: scale(.85);
        background: $borderColorDark; color: $fontInvert;
        &.error{ background-color: $msgError;}
      }
    }
  
    input[type="text"], input[type="password"], input[type="email"]{
      width: 100%; height: 3.2em;
      margin: 5px 0;
      border-radius: 2em; padding: 0 1em;
      background:$grayLight; border-color:$grayLight;
      &:focus{background-color: #fff;border-color:#fff;}
    }
  
    &.pw{
      position: relative;
      input{ padding-right: 54px;}
      .viewIcon{ position: absolute; right: 6px; top: 1.1em; }
    }
  }

  @media screen and (min-width: $wwNormal){
    h1.logos{
      img{height: 90px;}
    }
  }
}




// ****************************************** //
//                 sideBoard                  //
// ****************************************** //
// 側邊有底圖的文字訊息
.sideBoard{
  background-color: #f5f2ea; padding: 3em 0 2em;
  h2{color: $primaryColor; line-height: 1.3; margin: 0 0 .3em;}
  article, .contact, .linkBtn{
    width: 84%; margin: 0 auto; max-width: 400px;
  }
  article{
    padding: 0 30px 2em; line-height: 1.7;
    p{margin: 0;padding: 0;}
    ul{ margin: 0; padding: 0; display: inline;}
    li{
      margin: 0; padding: 0;
      display: inline; font-weight: bold;
      &::after{content: '、';}
      &:last-child{
        &::after{display: none;}
      }
    }
  }

  .contact{
    line-height: 1.7;
    padding: 2em 30px 1.4em;
    box-shadow: #0002 0 0 20px;border-radius: 16px;
    h3{margin: 0 0 .1em; line-height: 1.2;}
  }

  .linkBtn{
    display: block; 
    margin: 30px auto;
    a{height: 3em; line-height: 3;}
  }

  @media screen and (min-width: $wwNormal){
    background: url(../images/hero.jpg) no-repeat center center;
    background-size: cover;


    position: fixed; left: 0; top: 0; width: 50vw; height: 100vh;
    display: flex; flex-flow: column nowrap;
    justify-content: flex-end;

    .contact{
      background-color: #fffb; border: none;
    }

  }
}

// ****************************************** //
//                 loginLayout                  //
// ****************************************** //
// 登入頁兩欄排版
.loginLayout{

  .webHeader{
    padding-left: 10px; padding-right: 10px;
    h1{display: none;}

  }

  .topLinks{ margin: 5px auto; width: 92vw; }

  .col1 .webFooter{display: none;}

  @media screen and (min-width: $wwNormal){
    
    display: flex; flex-flow: row nowrap;

    .topLinks{ width: 96%; }
  


    .col1, .col2{
      flex: 0 0 50%;
    }
    .col1{ order: 2;
      .webFooter{
        display: block; text-align: center;
        .links{ margin: 1.2em auto 0; text-align: center;}
      }
    }
  }

  @media screen and (min-width: $wwNormal + 200){
    .webHeader{
      .topLinks{ 
        li {
          margin-left: 1.8em;
          a {padding: .1em 0 0 .8em;}
        }

      }
    }
  }
}
