// 會員登入
.loginHere{
  @extend %mainSection; font-size: 1.15em;

  .blockHeader{margin:0 auto; text-align: center; color: $primaryColor; font-weight: bold;}

  .btnDv{
    margin: 1.5em 0 0; border: none;
  }

  .keepAndForget{
    display: flex;
    justify-content: space-between;
    .singleCheck{ height: 2.8;line-height: 2.7;}
  }
  .singleCheck{font-size: 1rem;}


  .links{
    text-align: center;
    margin: 1.5em auto .5em;
  }
}

.formRow{
  position: relative; padding: .6em 0; margin: 3px 0;
  label{
    margin: 0; padding: 0 .7em;
    position: absolute; top:1.65em; left: 4px;
    height: 1.6em; line-height: 1.6; border-radius: 1em;
    transition: .3s;
    &.shift{ 
      top: 0; transform: scale(.85);
      background: $borderColorDark; color: $fontInvert;
      &.error{ background-color: $msgError;}
    }
  }

  input[type="text"], input[type="password"], input[type="email"]{
    width: 100%; height: 3.2em;
    margin: 5px 0;
    border-radius: 2em; padding: 0 1em;
    background:$grayLight; border-color:$grayLight;
    &:focus{background-color: #fff;border-color:#fff;}
  }

  &.pw{
    position: relative;
    input{ padding-right: 54px;}
    .viewIcon{ position: absolute; right: 6px; top: 1.1em; }
  }
}



.sideBoard{
  font-size: 1.15em;
  @extend %mainSection;
  background-color: #f5f2ea;
  h2{color: $primaryColor; line-height: 1.3; margin: 0 0 .5em;}
  article{
    padding: 30px; line-height: 1.7;
    p{margin: 0;padding: 0;}
    ul{ margin: 0; padding: 0; display: inline;}
    li{
      margin: 0; padding: 0;
      display: inline; font-weight: bold;
      &::after{content: '、';}
      &:last-child{
        &::after{display: none;}
      }
    }
  }

  .contact{
    line-height: 1.7;
    padding: 2em 30px 1.5em; margin: 0;
    box-shadow: #0002 0 0 20px;border-radius: 16px;
    h3{margin: 0 0 .1em; line-height: 1.2;}
  }

  .linkBtn{
    display: block;
    margin: 30px auto;
  }

  @media screen and (min-width: $wwNormal){
    background: url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 8em;

    .contact{
      background-color: #fffb; border: none;
    }

  }
}

@media screen and (min-width: $wwNormal){
  .row.c2{
    display: flex; flex-flow: row nowrap;
    .sideBoard, .loginHere{
      flex: 0 0 50%;
    }
    .loginHere{
      order: 2;
    }
  
  }
}