// 其它社群帳號登入
.otherLogin{
  text-align: center;
  h3{font-size: 1.25em; font-weight: normal;}
  ul{
    list-style: none; margin: 0; padding: 0;
    display: flex; justify-content: center;
  }
  li{
    text-align: center; padding: 0;  margin: 0 6px 12px;
    ;font-size: 0;
    a{ 
      position: relative; display: block; text-decoration: none;
      width: 72px; height: 72px; border-radius: 50%;
      transition: .2s;
      &::before{ // 社群圖示
        content: '';
        position: absolute; top: 50%; left: 50%;
        margin: -16px auto auto -16px;
        width: 32px; height: 32px;
        background: url(../images/icon_openID.png) no-repeat center 0;
        background-size: 26px auto;
      }
      &:hover{ box-shadow:#fff 0 0 0 1px, $borderColor 0 0 0 4px;}
    }

    &.facebook a{ background-color: #3b579d;
      &::before{background-position: 0 -76px;}
    }
    &.google a{ background-color: #fff; color: $fontColor; box-shadow: $borderColor 0 0 0 1px inset;
      &::before{background-position: center 4px;}
      &:hover{box-shadow: $borderColor 0 0 0 1px inset, #fff 0 0 0 1px, $borderColor 0 0 0 4px;}
    }
    &.twitter a{background-color: #1da1f2;
      &::before{background-position: center -36px;}
    }
    &.linkedin a{background-color: #0077b5;
      &::before{background-position: center -116px;}
    }
  }
}
