// 其它社群帳號登入
.otherLogin{
  @extend %mainSection;
  padding-bottom: 4em;
  ul{list-style: none; margin: 0; padding: 0;}
  li{
    text-align: center; padding: 0;  margin: 0 0 12px;
    a{ 
      position: relative; display: block; text-decoration: none;
      height: 3.2em; line-height: 3.2; border-radius: 12px;
      padding-left: 36px;
      color: #fff;
      &::before{
        content: ''; position: absolute; top: 50%; left: 50%;
        width: 32px; height: 32px; margin-top: -16px; margin-left: -4.5em;
        background: url(../images/icon_openID.png) no-repeat center 0;
        background-size: 26px auto;
      }
    }

    &.facebook a{ background-color: #3b579d;
      &::before{background-position: center -76px;}
    }
    &.google a{ background-color: #fff; color: #333; box-shadow: $borderColor 0 0 0 1px inset;
      &::before{background-position: center 4px;}    
    }
    &.twitter a{background-color: #1da1f2;
      &::before{background-position: center -36px;}
    }
    &.linkedin a{background-color: #0077b5;
      &::before{background-position: center -116px;}
    }
  }
}
