// 密碼設定規則
.pwRules{
  font-size: 1rem; line-height: 1.3;
  padding:1em 1em; margin: .5em 0; border-radius: 7px;
  background-color: lighten($grayLight, 5%);
  p{margin: 0 0 .8em; font-weight: bold;}
  ul, ol{list-style: none; margin: 0 0 0 .2em; padding: 0;
    &+p{ margin-top: 1.5em;}
  }
  li{
    position: relative;
    margin: 0 0 1em; padding: 0 0 0 1.6em;
    &:last-child{margin-bottom: 0;}
    color: transparentize($fontColorLight, .3);
    &::before{
      content: ''; position: absolute; left: 0; top: 0;
      width: 1.2em; height: 1.2em; border-radius: 50%;
      border: 1px solid $borderColor; background-color: #fff6;
    }
    &.check{
      color:$fontColorDark;
      &::before{
        background:$msgSafe url(../images/icon_check.svg) no-repeat center 2px;
        background-size: 86%;
        border: 1px solid $msgSafe;
      }
    }
  }
}