.steps{
  padding: 1.7em 0 1.5em; margin: 0 ; text-align: center;
  overflow: hidden;
  ul, ol{
    list-style: none; margin: 0 -2vw; padding: 0; line-height: 1.1;
    display: flex; justify-content: space-between;
    &>li{
      flex: 0 0 25%;
      position: relative; padding: 22px 0 0;
      &::before{
        content: ''; position: absolute; top: 3px; left: 0; right: 0;
        height: 4px; background: $borderColor;
      }
      &:first-child{
        &::before{ left: 50%;}
      }
      &:last-child{
        &::before{ right: 50%;}
      }
      &::after{
        content: ''; position: absolute; top: 0; left: 50%;
        width: 10px;height: 10px; border-radius: 50%; margin-left: -5px;
        box-shadow: $borderColor 0 0 0 4px; background: #fff;
      }
      &.now{
        &::after{
          background: $secondaryColor;
          box-shadow:$secondaryColor 0 0 0 5px inset, $secondaryColor 0 0 0 1px, #fff 0 0 0 4px, $borderColor 0 0 0 8px;
        }
      }
    }
  }
}