// $ $ $ $ $ $ $ $ $ $ $ $ //
$wwSlim: 500px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwWide: 1400px;
// $ $ $ $ $ $ $ $ $ $ $ $ //

@import "_colorScheme";
@import "_default";
@import "_webHeader"; // 網站標題區
@import "_form"; // 表單元件預設樣式
@import "_formLayout"; // 表單元件預設樣式
@import "_btnDv"; // 表單送出按鈕群
@import "_elements"; //元件、模組
@import "_lightbox"; //燈箱
@import "_login"; // 會員登入
@import "_faq"; //常見問題（首頁）
@import "_faqList"; //常見問題（內頁）
@import "_otherLogin"; //其它社群帳號登入
@import "_steps"; //步驟提示
@import "_pwRules"; //密碼設定規則
@import "_otherSites"; //其他網站連結（slick 輪播）
@import "_slideInTabSet"; // 左右滑動的頁籤
@import "_areaSelectSet"; // 選區域
@import "_checkGrid"; // 選關注產業別、偏好議題